.grid-position {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 400px;
}

.header-title {
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-box {
    width: 60px;
    height: 60px;
    border: solid 2px rgb(200, 200, 200);
    margin: 4px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    outline: none;
}

.keyboard-position {
    display: flex;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 100px;
    margin-top: 70px;
}

.first-row-keyboard, .second-row-keyboard, .third-row-keyboard {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.key {
    border: none;
    width: 45px;
    height: 65px;
    margin: 2px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(220, 220, 220);
    font-weight: bold;
    font-size: 15px;
}

.key:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

#enter {
    width: 95px;
}

#delete {
    width: 55px;
}
